In [46]:
from typing import List, Tuple

import graphviz
import pandas as pd
import json

with open("characters2.json", "r") as file:
    data = json.load(file)

relationship_types = ["parent", "parentOf", "maried", "siblings", "killedBy"]

relationship_types = ["relationships"]
data = {"characters": data}

relationships: List[Tuple[str, str, str]] = []


for character in data["characters"]:
    name = character.get("name", "")
    #if name != (character.get("firstname", "") + " " + character.get("lastname", "")):
        #continue
    for rel_type in relationship_types:
        relationships_of_type = character.get(rel_type, [])
        if not isinstance(relationships_of_type, list): # Filter invalid data
            continue
        for rname, relationship_name in relationships_of_type:
            #if len(relationship_name.split(" ")) == 1: # Filter relationship targets with only one name
                #continue
            ignored = ["U-Ranos", "Nayru", "Siegmund"]
            if rname in ignored or name in ignored:
                continue
            relationships.append((name, rname, relationship_name))

rel_df = pd.DataFrame(relationships, columns=["Name", "Relationship", "Type"])
rel_df

         Name Relationship                           Type
0       Aelua      Tannivh                          Enkel
1    Ar-Merer     Justicia                         Mutter
2    Ar-Merer        Inoro                     VorgÃ¤nger
3    Ar-Merer     En-Troad                         Bruder
4    Ar-Merer    Il-Vernia                      Schwester
..        ...          ...                            ...
403     Zetta        Arvel       verstorbene groÃŸe Liebe
404     Zetta     Valerius  langjÃ¤hriger Freund, Vorbild
405     Zetta    Carmesine                       Freundin
406     Zetta        Felix                         Freund
407     Zetta     Perrotus                   Klostervater

[408 rows x 3 columns]

In [47]:
with open("graphviz.dot", "w") as file:
    file.write("digraph G {\n")
    for name_a, name_b, rel_type in relationships:
        file.write("\"" + name_a + "\" -> \"" + name_b + "\" [label=\"" + rel_type + "\"];\n")
    file.write("}")

In [ ]:
graphviz.render("dot", filepath="graphviz.jpg", format="jpg")

In [ ]:
os.interpr